<nav class='blue accent-4'>
    <ul>
        <li>
            <a href="/marketplaces">
                Create Marketplace
            </a>
        </li>
        <li>
            <a href="/list_marketplaces">
                List Marketplaces
            </a>
        </li>
        <li>
            <a href="/products">
                Create Product
            </a>
        </li>
        <li>
            <a href="/list_products">
                List Products
            </a>
        </li>
        <li>
            <a href="/sellers">
                Create Seller
            </a>
        </li>
        <li>
            <a href="/list_sellers">
                List Sellers
            </a>
        </li>
        <li>
            <a href="/categories">
                Create Category
            </a>
        </li>
        <li>
            <a href="/list_categories">
                List Categories
            </a>
        </li>
        <li>
            <a href="/list_log">
                List Logs
            </a>
        </li>
    </ul>
</nav>