<nav class='blue accent-4'>
    <ul>
        <li>
            <a href="/marketplaces">
                Create Marketplace
            </a>
        </li>
        <li>
            <a href="/lista_marketplaces">
                List Marketplace
            </a>
        </li>
        <li>
            <a href="/products">
                Create Product
            </a>
        </li>
        <li>
            <a href="/list_products">
                List Product
            </a>
        </li>
        <li>
            <a href="/sellers">
                Create Seller
            </a>
        </li>
        <li>
            <a href="/list_sellers">
                List Sellers
            </a>
        </li>
        <li>
            <a href="/categories">
                Create Category
            </a>
        </li>
        <li>
            <a href="/list_categories">
                List Category
            </a>
        </li>
        <li>
            <a href="/list_log">
                Log List
            </a>
        </li>
    </ul>
</nav>