<nav class='blue accent-4'>
    <ul>
        <li>
            <a href="/marketplaces">
                Create Marketplace
            </a>
        </li>
        <li>
            <a href="/products">
                Create Produto
            </a>
        </li>
        <li>
            <a href="/list_marketplace">
                List Marketplace
            </a>
        </li>
        <li>
            <a href="/list_products">
                List products
            </a>
        </li>
    </ul>
</nav>