{% extends "base_template.html" %}

{% block content %}

<table>
    <thead>
    </tr>
        <th  style="display:none;">Id: </th>
        <th>Name: </th>
        <th>Description: </th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for i in listar %}
    <tr>
        <td  style="display:none;">{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.description}}</td>
        <td>
            <button style="background-color: #2962FF; color: white; border: none; padding: 8px; border-radius: 8px;"
                    onclick="location.href='/update_marketplace/{{i.id}}'" type="button">Update</button>
        </td>
        <td>
            <button style="background-color: #2962FF; color: white; border: none; padding: 8px; border-radius: 8px;"
                    onclick="location.href='/delete_marketplace/{{i.id}}'" type="button">Delete</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    </tfoot>
</table>

{% endblock %}