{% extends "base_template.html" %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>Date: </th>
            <th>Action: </th>
            <th>Type: </th>
        </tr>
    </thead>
    <tbody>
    {% for i in log %}
    {% set action = i.description.split()[0] %}
    {% set type_ = i.description.split()[1] %}
        <tr>
            <td>{{i.date}}</td>
            {% if action == 'read_all' or action == 'read_by_id' %}
            <td style="background-color:red">{{action}}</td>
            {% endif %}
            {% if action == 'create' %}
            <td style="background-color:blue">{{action}}</td>
            {% endif %}
            {% if action == 'update' %}
            <td style="background-color:green">{{action}}</td>
            {% endif %}
            {% if action == 'delete' %}
            <td style="background-color:yellow">{{action}}</td>
            {% endif %}
            <td>{{type_}}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    </tfoot>
</table>

{% endblock %}