{% extends "base_template.html" %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>Date: </th>
            <th>Action: </th>
            <th>Type: </th>
        </tr>
    </thead>
    <tbody>
    {% for i in log %}
        <tr>
            <td>{{i.date}}</td>
            {% if i.action == 'read_all' or i.action == 'read_by_id' %}
            <td style="background-color:red">{{i.action}}</td>
            {% endif %}
            {% if i.action == 'create' %}
            <td style="background-color:blue">{{i.action}}</td>
            {% endif %}
            {% if i.action == 'update' %}
            <td style="background-color:green">{{i.action}}</td>
            {% endif %}
            {% if i.action == 'delete' %}
            <td style="background-color:yellow">{{i.action}}</td>
            {% endif %}
            <td>{{i.type_}}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    </tfoot>
</table>

{% endblock %}